<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Configuration</h5>
                <button type="button" ng-click="vm.dismissModal()" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form name="form" class="needs-validation" novalidate="">

                    <div class="mb-3">
                        <label for="rows">Rows</label>
                        <input type="number" min="1" name="rows" class="form-control" ng-model="vm.rows" required>

                        <!-- Required Validation -->
                        <div ng-show="form.rows.$touched">
                            <div class="text-danger" ng-show="form.rows.$error.required">Cant be left Blank</div>
                            <div class="text-danger" ng-show="form.rows.$error.min">Cant be less than 1</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="address">Columns</label>
                        <input type="number" min="1" class="form-control" name="columns" ng-model="vm.columns" required>

                        <!-- Required Validation -->
                        <div ng-show="form.columns.$touched">
                            <div class="text-danger" ng-show="form.columns.$error.required">Cant be left Blank</div>
                            <div class="text-danger" ng-show="form.columns.$error.min">Cant be less than 1</div>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="diamonds">Diamonds Count</label>
                        <input type="number" min="1" class="form-control" name="diamond" ng-model="vm.diamond" required>

                        <!-- Required Validation -->
                        <div ng-show="form.diamond.$touched">
                            <div class="text-danger" ng-show="form.diamond.$error.required">Cant be left Blank</div>
                            <div class="text-danger" ng-show="form.diamond.$error.min">Cant be less than 1</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" ng-click="vm.dismissModal()" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>