<div class="container text-center">
    <div class="row">
        <div class="col align-self-center">
            <ul>
                <h3>Angular Diamond Sweeper</h3>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center">
            Score - {{ vm.score }}
        </div>
    </div>
    <div class="row">
        <div class="col align-self-center table-responsive">
            <table class="table table-bordered table-hover diamondsweeper-board">
                <tbody ng-init="cell=1">
                    <tr ng-repeat="i in vm.range(vm.rows) track by $index">
                        <td ng-repeat="j in vm.range(vm.columns) track by $index" ng-click='vm.check(number)' ng-init='number = vm.counter()'>
                            <div class="cell" ng-class='vm.myClass[number-1]'>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col align-self-center">
            <button type="button" ng-click="vm.save()" class="btn btn-success p-10">Save</button>
            <button type="button" ng-click="vm.resume()" class="btn btn-info p-10">Resume</button>
            <button ng-click="vm.init()" type="button" class="btn btn-danger p-10">Reset</button>
            <button type="button" ng-click="vm.config()" class="btn btn-dark"><i class="fa fa-cog" style="font-size: 2em !important;"></i></button>
        </div>
    </div>
</div>