<div class="container">
    <div class="row">
        <div class="col align-self-center">
            Score - {{ vm.score }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 align-self-center table-responsive">
            <table class="table table-bordered table-hover diamondsweeper-board">
                <tbody ng-init="cell=1">
                    <tr ng-repeat="i in vm.range(vm.rows) track by $index">
                        <td ng-repeat="j in vm.range(vm.columns) track by $index" ng-click='vm.check(number)' ng-init='number = vm.counter()'>
                            <div class="cell" ng-class='vm.myClass[number-1]'>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col align-self-center">
            <div class="col-md-6">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-success p-10">Save</button>
                    <button ng-click="vm.init()" type="button" class="btn btn-danger p-10">Reset</button>
                </div>
            </div>
        </div>
    </div>
</div>